@{
    ViewBag.Title = "How to change themes on-the-fly ";
}
<h2>@ViewBag.Message</h2>
@using(Html.BeginForm("PostTheme", "Home", FormMethod.Post, new { style = "background-color: #EEE; border: 1px solid black; width: 450px; padding: 4px;" })) {
    <strong>Choose a Theme: </strong>
    <div>
        @Html.DevExpress().RadioButtonList(
                                     settings => {
                                         settings.Name = "Theme";
                                         settings.Properties.ValueType = typeof(DxWebApp.Models.CommonThemes);
                                         settings.Properties.Items.Add("Material", DxWebApp.Models.CommonThemes.Material);
                                         settings.Properties.Items.Add("MaterialCompact", DxWebApp.Models.CommonThemes.MaterialCompact);
                                         settings.Properties.Items.Add("Moderno", DxWebApp.Models.CommonThemes.Moderno);
                                         settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

                                         settings.Properties.ClientSideEvents.SelectedIndexChanged = "function (s,e) {ASPxClientUtils.SetCookie('theme', s.GetValue());}";
                                     }).Bind(Model.Theme).GetHtml()
    </div>
    <strong>Choose a Theme Color: </strong>
    <div>
        @Html.DevExpress().RadioButtonList(
                                     settings => {
                                         settings.Name = "ThemeColor";
                                         settings.Properties.ValueType = typeof(string);
                                         settings.Properties.Items.Add("Blue", "Blue");
                                         settings.Properties.Items.Add("Green", "Green");
                                         settings.Properties.Items.Add("Red", "Red");
                                         settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

                                         settings.Properties.ClientSideEvents.SelectedIndexChanged = "function (s,e) {ASPxClientUtils.SetCookie('themeColor', s.GetValue());}";
                                     }).Bind(Model.ThemeColor).GetHtml()
    </div>
    <strong>Choose a Font: </strong>
    <div>
        @Html.DevExpress().RadioButtonList(
                                     settings => {
                                         settings.Name = "Font";
                                         settings.Properties.ValueType = typeof(string);
                                         settings.Properties.Items.Add("12px 'Times New Roman'", "12px 'Times New Roman'");
                                         settings.Properties.Items.Add("15px 'Arial Black'", "15px 'Arial Black'");
                                         settings.Properties.Items.Add("20px 'Calibri'", "20px 'Calibri'");
                                         settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

                                         settings.Properties.ClientSideEvents.SelectedIndexChanged = "function (s,e) {ASPxClientUtils.SetCookie('utilsFont', s.GetValue());}";
                                     }).Bind(Model.Font).GetHtml()
    </div>
    <div>
        @Html.DevExpress().Button(
                                     btnSettings => {
                                         btnSettings.Name = "btn";
                                         btnSettings.Text = "Change Theme, Color and Font";
                                         btnSettings.UseSubmitBehavior = true;
                                     }).GetHtml()
    </div>
    <div>
        @Html.Partial("CalendarPartial")
    </div>
}